*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-weight: bold;
    color:rgb(94, 91, 91);
    background-color: rgb(44, 44, 44);
}


.cadastrar{
    color: aliceblue;
    border: 3px  solid  rgb(65, 134, 203);
    background-color:  rgb(65, 134, 203);
    border-radius: 10px;
    margin-left: 20px;
    width: 75px;
    height: 30px;
   
}

.cadastrar:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(65, 134, 203);
    border: 3px  solid aliceblue;
}

input{
    border: 2px solid #9b9999;
    border-radius: 5px;
    background-color: #c9c6c6;
    font-weight: bold;
    transition: 0.1s;
}


input:hover{
    background-color: #ffffff;

}

button{
    border: 3px solid #e29504;
    border-radius: 5px;
    margin-top: 15px;
    background-color: #e29504;
    color: aliceblue;
    font-weight: bold;
    transition: .15s;
}

label{
    color:white;
}

h1{
    color: white;
}

#tirar{
    border: 3px solid rgb(160, 33, 33);
    border-radius: 20px;
    background-color: rgb(160, 33, 33);
}


#add{
    margin-top: 30px;
}















